.scroll-animation-container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.scroll-animation-container .box-of-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background-color: #4682b4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translateX(500%);
  -webkit-transform: translateX(500%);
  -moz-transform: translateX(500%);
  -ms-transform: translateX(500%);
  -o-transform: translateX(500%);
  transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
  -o-transition: transform 0.8s;
}

@media (max-width: 768px) {
  .scroll-animation-container .box-of-content {
    width: 250px;
    height: 130px;
  }
}

.scroll-animation-container .box-of-content:nth-child(even) {
  transform: translateX(-400%);
  -webkit-transform: translateX(-400%);
  -moz-transform: translateX(-400%);
  -ms-transform: translateX(-400%);
  -o-transform: translateX(-400%);
}

.scroll-animation-container .box-of-content.show {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}


.scroll-animation-container .box-of-content h2 {
  color: #fff;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .scroll-animation-container .box-of-content h2 {
    font-size: 30px;
  }
}